{% extends "tracker/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

{% if form.errors %}
  <p style="color: red;">Invalid username or password. Please try again.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
    </p>
    <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
    </p>
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
{% endblock %}
