/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Prevent main content from being overlapped by navbar */
main {
    margin-top: 80px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem;
    background-color: #f9f9f9;
}
