{% extends "tracker/base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'tracker/css/signup.css' %}">

<div class="signup-container">
    <h2>Create an Account</h2>

    <form method="post" class="signup-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-signup">Sign Up</button>
    </form>

    <p class="login-link">
        Already have an account?
        <a href="{% url 'login' %}">Login here</a>.
    </p>
</div>
{% endblock %}

