{% load static %}
{% include 'tracker/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Redline Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tracker/css/base.css' %}" />
    {% block extra_css %}{% endblock %}
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <hr />
        <p>&copy; 2025 Redline Tracker</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>





