{% extends "tracker/base.html" %}
{% load static %}
{% include 'tracker/navbar.html' %}

{% block title %}
    {% if form.instance.pk %}Edit Reminder{% else %}Add Reminder{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tracker/css/reminder_form.css' %}">
{% endblock %}

{% block content %}
<div class="reminder-form-container">
    <h2>{% if form.instance.pk %}Edit Reminder{% else %}Add Reminder{% endif %}</h2>

    <form method="post" class="reminder-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn save">Save</button>

        {% if form.instance.vehicle %}
            <a href="{% url 'tracker:vehicle-detail' form.instance.vehicle.pk %}" class="btn cancel">Cancel</a>
        {% else %}
            <a href="{% url 'tracker:vehicle-list' %}" class="btn cancel">Cancel</a>
        {% endif %}
    </form>
</div>
{% endblock %}


