{% extends "tracker/base.html" %}
{% load static %}

{% block title %}Your Vehicles{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tracker/css/vehicle_list.css' %}">
{% endblock %}

{% block content %}
<div class="vehicle-list-container">
    <div class="header">
        <h2>Your Vehicles</h2>
        <a href="{% url 'tracker:vehicle-create' %}" class="btn add" aria-label="Add New Vehicle">+ Add New Vehicle</a>
    </div>

    {% if vehicles %}
    <ul class="vehicle-cards" role="list">
        {% for vehicle in vehicles %}
        <li class="vehicle-card" role="listitem">
            <a href="{% url 'tracker:vehicle-detail' vehicle.pk %}" class="vehicle-link">
                <div class="vehicle-info">
                    <strong>{{ vehicle.make }} {{ vehicle.model }}</strong><br>
                    <span>{{ vehicle.year }}</span>
                </div>
            </a>
            <div class="vehicle-actions">
                <a href="{% url 'tracker:vehicle-update' vehicle.pk %}" class="btn edit">Edit</a>
                <a href="{% url 'tracker:vehicle-delete' vehicle.pk %}" class="btn delete">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="empty">No vehicles found. <a href="{% url 'tracker:vehicle-create' %}">Add your first vehicle</a>.</p>
    {% endif %}
</div>
{% endblock %}
